<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dev_mode</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>web_name</param-name>
        <param-value>Dream Traveling</param-value>
    </context-param>
    <context-param>
        <param-name>rpp_tour</param-name>
        <param-value>9</param-value>
    </context-param>
    <context-param>
        <param-name>date_format</param-name>
        <param-value>dd/MM/yyyy</param-value>
    </context-param>
    <filter>
        <filter-name>MainController</filter-name>
        <filter-class>oiog.dreamtraveling.filters.MainController</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainController</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoadHomeController</servlet-name>
        <servlet-class>oiog.dreamtraveling.controllers.LoadHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>oiog.dreamtraveling.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>oiog.dreamtraveling.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHome</servlet-name>
        <servlet-class>oiog.dreamtraveling.controllers.SearchHomeTour</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadHomeController</servlet-name>
        <url-pattern>/LoadHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHome</servlet-name>
        <url-pattern>/SearchHome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>Connection Database with DataSource</description>
        <res-ref-name>DBConn</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <error-page>
        <error-code>404</error-code>
        <location>/error-404.jsp</location>
    </error-page>
</web-app>
